footer {
  min-height: 100px;
  height: fit-content;
  width: 100%;
  background-color: #ff80d5;
  text-align: center;
  margin-top: 20px;
}
footer a {
  line-height: 100px;
  margin-inline: 10px;
  font-size: 2em;
}
footer.m {
  background-color: #71E7E0;
}
footer.f {
  background-color: #ff80d5;
}