@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #ff80d5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9019607843);
  display: flex;
  height: 99px;
  width: 100%;
}
nav > a {
  line-height: 50px;
  padding-inline: 10px;
  border-inline: 1px solid rgba(0, 0, 0, 0.9019607843);
  font-size: 2em;
  font-family: "Playfair Display", serif;
  margin-left: 30px;
  margin-block: auto;
}
nav div {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}
nav > i {
  font-size: 2em;
  margin-block: auto;
  margin-right: 30px;
  display: none;
  height: 34px;
}

form {
  margin-block: auto;
  font-size: 0;
  border: 1px solid black;
  border-radius: 5px;
  order: 2;
  margin-left: 5px;
}
form input {
  background-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  height: 2em;
  padding-left: 0.5em;
  outline: 0;
  width: 80%;
}
form input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.9019607843);
  font-weight: 500;
  font-size: 1.1em;
}
form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.9019607843);
  font-weight: 500;
  font-size: 1.1em;
}
form input::placeholder {
  color: rgba(0, 0, 0, 0.9019607843);
  font-weight: 500;
  font-size: 1.1em;
}
form button {
  background-color: transparent;
  border: 0;
  border-left: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 2em;
  float: right;
  cursor: pointer;
  width: 20%;
}
form i {
  vertical-align: middle;
}

a {
  text-decoration: none;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.9019607843);
  font-weight: 500;
}

ul {
  order: 1;
  list-style: none;
  padding: 0;
  margin-block: auto;
}
ul li {
  display: inline;
  margin-right: 10px;
}
ul li a {
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  transition: border 0.3s, padding 0.3s;
}
ul li a:hover {
  border-bottom-color: black;
  padding-bottom: 0;
}

@media (max-width: 700px) {
  nav {
    height: 79px;
  }
  nav > a {
    line-height: 37px;
  }
  nav div {
    display: none;
    background-color: #ff80d5;
    width: 100%;
    height: calc(100% - 80px);
    position: absolute;
    top: 80px;
  }
  nav > i {
    display: inline;
    margin-left: auto;
  }
  form {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-inline: auto;
    margin-block: 20px;
    margin-bottom: 10px;
    width: calc(100% - 40px);
  }
  form input {
    width: 90%;
  }
  form button {
    width: 10%;
  }
  ul {
    width: calc(100% - 40px);
    margin-inline: auto;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  ul li {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  ul li a:hover {
    border-bottom-color: black;
    padding-bottom: 0;
  }
  ul li a:active {
    border-bottom-color: black;
    padding-bottom: 0;
  }
}