main {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
}
main article {
  color: black;
  margin: auto;
  flex-basis: 50%;
}
main article a {
  font-weight: bold;
}
main article > a {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
}
main article img {
  width: calc(100% - 30px);
  max-width: 600px;
  padding: 1px;
  border: 2px solid black;
  display: block;
  border-radius: 10px;
  margin: 20px auto 0;
}
main article h1 {
  margin: 10px auto 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
main article div.info {
  text-align: center;
  padding-block: 5px 15px 0;
}
main article h4 {
  display: inline;
  margin-inline: 5px;
}
main article h4.categoria {
  background-color: #ff80d5;
  padding: 5px;
  border: 1px solid black;
}
main article h4.m {
  background-color: #71E7E0;
}
main article h4.f {
  background-color: #ff80d5;
}

body > div {
  margin: 20px auto 0;
  background-color: #ff80d5;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
body > div:hover {
  background-color: #ff95dc;
}

@media (max-width: 710px) {
  main article {
    flex-basis: 100%;
  }
}